/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  overflow: hidden;
  color: #e5e7eb;
}

/* ================= CONTAINER ================= */
.slides {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* ================= SLIDES ================= */
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.2s ease;
}

.slide.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

/* ================= INTRO ================= */
.intro {
  background: url("assets/jornal.png") center/cover no-repeat;
}

/* ================= FUNDO DIVIDIDO ================= */
.background {
  position: absolute;
  inset: 0;
  display: flex;
  z-index: 0;
}

.bg {
  width: 50%;
  height: 100%;
  background-size: cover;
  background
